:root {
    --primary: #00695f;
    --secondary: #009688;
    --third: #33ab9f
}

* {
    text-decoration: none;
    list-style: none;
}

nav {
    background: var(--third);
    height: 80px;
    width: 100%;
    z-index: 1000;
}

label.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    transition: all .5s;
}

a.active, a:hover {
    background-color: var(--secondary);
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;

    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--primary);
        top: 80px;
        left: 0;
        text-align: center;
        left: -100%;
        transition: all .5s;
        z-index: 1000;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: var(--third);
    }

    #check:checked ~ ul {
        left: 0;
    }
}